.roomContainer {
    height: 100%;
    width: 100%;
}

.composite {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.p-tile {
    position: relative;
    height: 122px;
    width: 122px;
}